.info {
    display: flex;
    padding-inline: 1.25rem;
    padding-top: 3rem;
    max-width: 1100px;
    margin-inline: auto;
}

.info--text {
    display: flex;
    flex-direction: row;
    font-size: 0.9rem;
    opacity: 0.6rem;
    font-weight: 300;
    line-height: calc(1em + 0.5rem);
    margin-block: 1.5rem;
    max-width: 120ch;
    text-align: justify;
}